*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(146, 184, 86);
 
}
main{
    display: flex;
    flex-direction: column;
  
}
h1{
    text-align: center;
}
.game-section{
display: flex;
justify-content: space-around;
margin-top: 10rem;
}
.tablero{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

}
.casilla{
    border: 1px solid #000;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player > span{
    font-size: 3em;
}
.player img{
    width: 10rem;
    height: 10rem;
}
.casilla p{
    text-align: center;
    display: flex;
    font-size: 8em;
    align-items: center;
    justify-content: center;
}
.restart{
    margin: 0 auto;
    width: 18rem;
    height: 3rem;
}

@media (max-width:1200px){
    .tablero{
        width: 300px;
        height: 300px;
      }
    .player > span{
        font-size: 2em;
    }
    .player img{
        width: 7rem;
        height: 7rem;
    }
    .casilla p{
     font-size: 3em;
    }
}


@media (max-width:800px){
    .tablero{
        width: 200px;
        height: 200px;
      }
    .player > span{
        font-size: 1em;
    }
    .player img{
        width: 5rem;
        height: 5rem;
    }
    .restart{
       width: 8rem;
        height: 3rem;
    }
}